.footer {
  width: 100%;
  background-color: #1e4384;
  h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
  }
  p {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
  }
}