// Navigation Styles here
.navigation {
    position: fixed;
    width: 100%;
    @media @mobile {
        flex-direction: column;
        align-items: center;
    }
    background: #1e4384;
    nav {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        color: white;
        a {
            padding: 10px;
            text-decoration: none;
            font-weight: 550;
            color: white;
        }

        a:hover {
            color: #1e4384;
            background: #fff;
            border: 3px solid #1e43842d;
            transition: all 0.5s ease;
            // padding-top: 1px;
            padding-bottom: 3px;
        }

        h1 {
            padding: 10px;
            font-weight: 550;
            color: white;
            font-size: 3rem;
            @media @mobile {
                font-size: 2rem;
            }
        }
    }
}