// Navigation Styles here
.navigation {
    position: fixed;
    width: 100%;
    background: #1e4384;
    nav {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        color: white;
        a {
            padding: 10px;
            text-decoration: none;
            font-weight: 550;
            color: white;
            height: 100%;
        }

        a:hover {
            color: #1e4384;
            background: #fff;
            border: 3px solid #1e43842d;
            transition: all 0.5s ease;
            // padding-top: 1px;
            padding-bottom: 3px;
        }

        img {
           width: 8%; 
        }
    }
}