// Navigation Styles here
.navigation {
    // display: flex;
    // justify-content: space-between;
    @media @mobile {
        flex-direction: column;
        align-items: center;
    }
    background: #1e4384;
    nav {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        color: white;
        a {
            padding: 10px;
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: 550;
            color: white;
        }
        h1 {
            padding: 10px;
            font-weight: 550;
            font-size: 3rem;
            color: white;
        }
        @media @mobile {
            display: flex;
            justify-content: center;
            border: 5px solid red;
        }
    }
}