.container {
  .hero-image {
    background-image: url("https://scontent.fdet1-1.fna.fbcdn.net/v/t1.0-9/67835753_10216418696283147_7323069696679346176_o.jpg?_nc_cat=106&_nc_ohc=gqXm6gJPb5sAQk01xRG1H2fNu6u4_tb5F8qLfoW1tWM3imIX2taPgJvdA&_nc_ht=scontent.fdet1-1.fna&oh=59b0a0efb3c78ae44024439b8f657bf9&oe=5E731964");
    background-color: #cccccc;
    height: 600px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    p {
      color: rgb(95, 95, 95);
      font-weight: 900;
      font-size: 18px;
    }
    h1 {
      color: #1e4384;
      font-weight: 900;
      text-align: center;
      line-height: 425px;
      font-size: 70px;
    }
  }
  .history {
    padding-top: 5%;
    padding-bottom: 5%;
    .badenPowell {
      border: 4px solid rgba(211, 211, 211, 0.596);;
    }
  }
  .header {
    .about {
      // background: darkblue;
      height: 10em;
    }
  }
  .events {
    padding-top: 5%;
    padding-bottom: 5%;
    h1 {
      padding-bottom: 7%;
    }
    h2 {
      padding-bottom: 2%;
    }
  }

}
